
<body>
    <form action="" method="POST" id="form">
        <div class="form">
            <h1>Solicitud de servicio al cliente</h1>
            <br>
            <div class="grupo">
                <!-- VALIDACION -->
                <input type="text" name="" id="name" ><span class="barra"></span>
                <label for="">Nombre</label>
            </div>
            <div class="grupo">
                <!-- VALIDACION -->
                <input type="email" name="" id="email" ><span class="barra"></span>
                <label for="">Email</label>
            </div>
            <div class="grupo">
                <h2>Escriba aquí su reclamo</h2>
                <br>
                <textarea name="Reclamo" placeholder="Escriba aquí su reclamo"></textarea>
            </div>
            <!-- VALIDACION -->
            <button type="submit">Enviar Reclamo</button>
            <p class="warnings" id="warnings"></p>
        </div>
    </form>
    

